:root {
  --font-family: "PT Sans", sans-serif;
  --second-family: "Francois One", sans-serif;
  --third-family: "Farro", sans-serif;
  --font3: "Staatliches", sans-serif;
  --font4: "Tourney", sans-serif;
  --font5: "Roboto", sans-serif;
}
